@import './reset';

#header{
  padding-top: .8rem;
  .nav-bar{
    width: 15.5%;
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__links{
      width: 47%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__link{
        font-size: .8rem;
        text-decoration: none;
        color: var(--clr-nav-links);

        &:hover{
          text-decoration: underline;
        }
      }
    }

    &__apps-btn{
      font-size: 1.2rem;
      width: 30px;
      height: 30px;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    &__acount-btn{
      font-size: 2rem;
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 50%;
      background: transparent;
      cursor: pointer;
    }

  }
}

#main{
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .search-bar{
    border: 1px solid var(--clr-search);
    border-radius: 50px;
    width: 42.5vw;
    margin: 1.5rem auto;
    padding: .2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 400ms ease;
    

    &__input{
      flex: 10;
      font-size: 1rem;
      outline: none;
      border: none;
      color: var(--clr-primary);

    }

    &__submit,
    &__voice {
      flex: 1;
      font-size: 1rem;
      height: 40px;
      border: none;
      background: transparent;

    }

    &__voice{
      &:hover,
      &:focus{
        outline: none;
        cursor: pointer;
      }
    }

    &:hover {
      box-shadow: 0 2px 10px rgba(0,0,0,.15);
    }
  }


  .search-btns{
    width: 21vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

    &__btn{
     font-size: .9rem;
     padding: .6rem 1rem;
     border: none;
     color: var(--clr-primary);

     &:hover,
     &:focus{
       cursor: pointer;
       outline: 1px solid var(--clr-search);
     }
    }
  }

  .languages{
    padding-top: 1.5rem;
    font-size: .8rem;
    p{
      font-weight: bold;

      a{
        font-weight: initial;
        text-decoration: none;
        padding: .3rem;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

}

#footer{
  line-height: 1.6;
  background: var(--clr-footer);
  border-top: 1px solid var(--clr-search);
  display: flex;
  flex-direction: column;
  justify-content: center;

  hr{
    border: 1px solid #dfdede;
  }
  .country{
    color: var(--clr-primary);
    font-size: .9rem;
    padding: .5rem 1.5rem;
  }
  
  .footer__main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    &__infos{
      padding: .5rem 0;
      margin: 0 1.5rem;
      font-size: .9rem;
      display: flex;
      align-items: center;
    }
  }
  .left{
    width: 28%;
    justify-content: space-between;
  }

  .right{
    width: 18%;
    justify-content: space-evenly;
  }

  a{
    text-decoration: none;
    color: var(--clr-primary);
  }
}

